<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{16} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.dv8tion.jda.core.requests.Requester" level="INFO" />

    <logger name="wowchat.game.GamePacketEncoder" level="INFO" />
    <logger name="wowchat.game.GamePacketEncoderCataclysm" level="INFO" />
    <logger name="wowchat.game.GamePacketEncoderMoP" level="INFO" />

    <logger name="wowchat.game.GamePacketDecoder" level="INFO" />
    <logger name="wowchat.game.GamePacketDecoderWotLK" level="INFO" />
    <logger name="wowchat.game.GamePacketDecoderCataclysm" level="INFO" />
    <logger name="wowchat.game.GamePacketDecoderMoP" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
